:root {
    --azul-escuro: #0A3871;
    --branco: #D8DFE8;
}

* {
    background-color: var(--branco);
    margin: 0;
    padding: 0;
}

/*Barra superior */

header { 
    display: flex;
    background-color: var(--azul-escuro);

    align-items: center;
    width: 100%;
    height: 80px;
}


#logo {
    margin: 4%;
    background-color: transparent;
}

/* Conteudo da pagina */

main {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Div do input */

.divInput {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin-bottom: 5%;
}

#inputCriptografia {
    color: var(--azul-escuro);
    border: none;
    padding: 20px;
    padding-right: 0px;
    font-size: 32px;
    width: 100%;
}

#inputCriptografia:focus {
    outline: 0;
}

#inputCriptografia::placeholder {
    color: var(--azul-escuro);
}

#inputCriptografia::-webkit-scrollbar {
    background-color: var(--branco);
}

#inputCriptografia::-webkit-scrollbar-thumb {
    background-color: var(--azul-escuro);
    border-radius: 20px;
}

/* Informações adicionais */

#info {
    display: flex;
    margin: 25px;
}

#infoImage {
    margin-right: 10px;
}

/* Butões do input */

.buttonCriptografia {
    background: var(--azul-escuro);
    color: #FFFFFF;

    font-family: 'Inter';
    border: none;
    text-align: center;

    width: 49%;
    padding: 24px;
    border-radius: 24px;
    font-size: 16px;

}

.buttonCriptografia:hover {
    border: 1px solid var(--azul-escuro);
    background-color: var(--branco);
    color: var(--azul-escuro);
    transition: 1s;
}

#buttonCriptografiaBranco {
    border: 1px solid var(--azul-escuro);
    background-color: var(--branco);
    color: var(--azul-escuro);

    font-weight: 400;
}

#buttonCriptografiaBranco:hover {
    background-color: var(--azul-escuro);
    color: white;
    transition: 1s;
}

/* Div Descriptografia*/

.divDescriptografia {
    background-color: white;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width:  40%;
    padding: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#imagemDescriptografia {
    width: 336px;
    height: 304px;
    background-color: white;
}

.textDiscriptografia {
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.textoBonito {
    border: 1px solid var(--azul-escuro);
    border-radius: 20px;
    word-wrap: break-word;
    width: 100%;
    color: #0A3871;
    font-size: 30px;
}

#buttonCopiar {
    display: none;
    width: 100%;
}

#buttonCopiado {
    border: 1px solid var(--azul-escuro);
    background-color: var(--branco);
    color: var(--azul-escuro);

    font-weight: 400;
}

@media (max-width: 1200px) {
    .divDescriptografia {
        width: 100%;
    }

    .divInput {
        width: 100%;
    }
}